* {
  box-sizing: border-box;
}

:root {
  --color1: #e1e1e1;
  --color2: #c7c7c7;
  --color3: #a3a3a3;
  --color4: #767373;
  --color5: #403f3f;
  --color6: #1b1b1b;
}

.border-temp {
  border: 2px dashed black;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.nav {
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: var(--color5);
}

.nav-brand {
  align-self: center;
  width: 160px;
  height: 70px;
  margin: 0 40px 0 0;
  background-color: var(--color3);
}

.nav-links {
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  width: 100px;
  height: 50px;
  background-color: var(--color3);
}

.nav-search {
  align-self: center;
  flex: 1 0 50px;
  margin: 0 0 0 30px;
}

.nav-search>input {
  height: 50px;
  width: 80%;
  border-radius: 7px;
  border-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1px;
}

.grid-item {
  padding: 3rem;
  background-color: var(--color4)
}



.paragraph {
  font-size: 3em;
  font-weight: 700;
  color: white;
}
.title {
  display: inline-block;
  font-size: 2em;
  font-weight: 500;
  color: var(--color2);
}

.profilepic {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  background-color: grey;
  border: 5px solid black;
  transform: rotate(-30deg);
  transform-origin: bottom;
  transition: 0.5 ease-in-out;
}

.profilepic:hover {
  transform: rotate(0deg);
}

.tags {
  font-size: 1em;
  color: var(--color2)
}

.row-1-grid {
  display: grid;
  grid-template: repeat(3, 80vh) / repeat(4, 25%);
  grid-template-areas:
    "a1 a2 a3 ad1"
    "ad2 ad2 a4 a5"
    "a6 a7 ad3 ad3";
}

.row-1-grid>article {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
}

.row-1-grid>div:not(:nth-child(4)) {
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridElement-1 {
  grid-area: a1;
}

.gridElement-2 {
  grid-area: a2;
}

.gridElement-3 {
  grid-area: a3;
}

.gridElement-4 {
  grid-area: a4;
}

.gridElement-5 {
  grid-area: a5;
}

.gridElement-6 {
  grid-area: a6;
}

.gridElement-7 {
  grid-area: a7;
}

.gridElementAd-1 {
  grid-area: ad1;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
}

.gridelad1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 80%;
  background-color: var(--color1);
  border: 1px solid gray;
  border-radius: 10px;
}

.gridElementAd-2 {
  grid-area: ad2;
}

.gridElementAd-3 {
  grid-area: ad3;
}

.row-1-grid .text1 {
  font-size: 30px;
  text-decoration: underline;
}

.row-1-grid .text2 {
  font-size: 20px;
  text-decoration: underline;
}

.row-1-grid .text3 {
  letter-spacing: 2px;
  font-size: 18px;
}

.ad-picture {
  width: 200px;
  height: 200px;
  background-color: var(--color2);
  border: 1px solid gray;
}

.ad-btns {
  height: 50px;
  width: 100px;
}

.row2flex {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color5);
}

.row2date {
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.row2title {
  width: 70%;
  text-shadow: 1px 2px 2px #383636;
  font-size: 4.1em;
  text-align: center;
  text-decoration: none;
  color: white;
}

.row2description {
  width: 40%;
  font-size: 2em;
  text-align: center;
  color: white;
}

.ad-btns2 {
  height: 4rem;
  width: 22rem;
  font-weight: 700;
  color: var(--color5);
}

.row2mainImg{
  width: 75vw;
  height: 85vh;
  border: 2px solid black;
  background-color: var(--color3);

}

.row-3{
  display:flex;
  height: auto;
  justify-content: center;
  padding: 50px 0 0 0;
  background-color: var(--color2);
}
.row3paragraph {
  font-size: 2em;
  font-weight: 500;
  color: black;
  align-self: flex-start;
  margin: 0;
}

.row3img {
  display: inline-block;
  height: 13rem;
  width: 28rem;
  margin-left: 7rem;
  border-radius: 5px;
  background-color: grey;
  border: 5px solid black;
  transform: rotate(-30deg);
  transform-origin: bottom;
  transition: 0.5 ease-in-out;
}

.row3img:hover{
  transform: rotate(0deg);
}

.row-4 {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 150px 0 0 0;
  background-color: var(--color2);
}

.row-4-content {
  flex: 0 0 48%;
  height: 200px;
  display: flex;
  margin: 0 0 100px 0;
  padding: 0 0 0 50px;
}

.row-4-content > .profilepic {
  flex: 0 0 60px;
}

.row-4-text-container > a {
  text-decoration: none;
  color: gray;
}

.row-4-text-container > h2 {
  font-size: 35px;
}

.row-5{
  background-color: var(--color5);}

.row5flex{
  margin: 2rem 10rem 2rem 10rem;
  height:40vh;
  display:flex;
}

.textflex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textflex  * {
  margin: 0;
}

.row5mainImg{
  margin-left: 15rem;
  align-self:flex-end;
  border: 2px solid black;
  width: 30vw;
  height: 40vh;
  overflow-y:visible;
  transform: rotate(-30deg);
  transform-origin:left;
  transition: 0.4s ease-in-out;
  background-color: var(--color4);
}

.row5mainImg:hover{transform:rotate(0);}


.row5text1{
  color:white;
  font-size:2.5em;
}

.row5text2{
  color:white;
  font-size: 3em;
  font-weight: 700;
}

.row5text3{
  color:white;
  font-size:2em;
}

.row6{
  background-color: var(--color2);
}
.row6grid{
  padding:5rem 2rem 5rem 2rem;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.row6gridItem{
  height: 50vh;
  border: 1px solid gray;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color1);
}

.row6title{
  font-size: 3em;
  font-weight: 700;
  text-align: left;

}

.row6description{
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 200;
}

.row6button{
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}
